 <!-- <div class="container-fluid text-center">  
    <div align="center" *ngIf="mailObj && mailObj.getTournamentListAPIStatus && mailObj.getTournamentListAPIStatus == 'waiting'">
        <img src="../../../assets/cloe-ferrara-loader1-0.gif" style="width: 100px; height: 100px;" />
    </div>  
    <div class="row content" *ngIf="mailObj && mailObj.getTournamentListAPIStatus && mailObj.getTournamentListAPIStatus == 'success'">
      <div class="col-sm-2 sidenav">
      </div>
      <div class="col-sm-8 text-left"> 
        <div class="panel-body"><img src="{{mailObj.data.data.tournamentGeneralInfo.fileUrl ? mailObj.data.data.tournamentGeneralInfo.fileUrl : 'https://placehold.it/150x80?text=Not Found'}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div>
            <h1>About</h1>
            <p [innerHTML]="mailObj.data.data.tournamentGeneralInfo.description"></p>
        </div>
        <hr>
        <!-- <h3>Test</h3>
        <p>Lorem ipsum...</p> -->
      </div>
      <div class="col-sm-2 sidenav">
      </div>
    </div>
  </div>
-->

<h1>
      The simplest Web OTP API demo
    </h1>
    <div>
      Send an SMS that includes <pre><code>@web-otp.glitch.me #12345</code></pre> to this phone.
    </div>
    <div style="border:1px solid; padding: 5px; 10px; margin: 10px 0;">
      <form action="/post" method="post">
        Enter OTP here:
        <input type="text" autocomplete="one-time-code" inputmode="numeric" name="one-time-code">
        <input type="submit" value="Submit">
      </form>
    </div> 

    <div>
      See the source code and play with it at <a href="https://glitch.com/edit/#!/web-otp">https://glitch.com/edit/#!/web-otp</a>
    </div>
    <div>
      Learn more at <a href="http://web.dev/web-otp">http://web.dev/web-otp</a>.
    </div>
    <script>
    if ('OTPCredential' in window) {
      window.addEventListener('DOMContentLoaded', e => {
        const input = document.querySelector('input[autocomplete="one-time-code"]');
        if (!input) return;
        const ac = new AbortController();
        const form = input.closest('form');
        if (form) {
          form.addEventListener('submit', e => {
            ac.abort();
          });
        }
        navigator.credentials.get({
          otp: { transport:['sms'] },
          signal: ac.signal
        }).then(otp => {
          input.value = otp.code;
          if (form) form.submit();
        }).catch(err => {
          console.log(err);
        });
      });
    }
    </script>
