<!-- <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button> -->
<!-- <nav class="mobile-nav d-lg-none" style="opacity: 1; visibility: visible;">
  <ul>
    <li class="active"><a routerLink="">Home</a></li>
    <li class="drop-down"><a routerLink="/events">About</a>
      <ul>
        <li><a href="#about">About Us</a></li>
        <li><a href="#team">Team</a></li>
        <li class="drop-down"><a href="#">Deep Drop Dow</a>
          <ul>
            <li><a href="#">Deep Drop Down 1</a></li>
            <li><a href="#">Deep Drop Down 2</a></li>
            <li><a href="#">Deep Drop Down 3</a></li>
            <li><a href="#">Deep Drop Down 4</a></li>
            <li><a href="#">Deep Drop Down 5</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a routerLink="/events">Eents</a></li>
    <li><a routerLink="/todo-list">To Do</a></li>
    <li><a routerLink="/calculator">calculator</a></li>
    <li><a href="https://github.com/Rohit3230/angularIMPThingsForWebApp" target="_">Git Hub</a></li>

  </ul>
</nav>   -->



<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <h1><a routerLink="" href="">Angular9 App</a></h1> 
    </div>
     

    <nav class="nav-menu d-none d-lg-block">
      <!-- <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <ul>
        <li>
            <a routerLink="" href="">Home</a>
        </li>
        <!-- <li>
            <a [router-link]="['']">Home 2</a>
        </li> -->
        <!-- <li class="drop-down"><a routerLink="/events">About</a>
          <ul>
            <li><a href="#about">About Us</a></li>
            <li><a href="#team">Team</a></li>
            <li class="drop-down"><a href="#">Deep Drop Dow</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
        <li><a routerLink="/events" href="/events">Events</a></li>
        <li><a routerLink="/todo-list" href="/todo-list">To Do</a></li>
        <li><a routerLink="/calculator" href="/calculator">calculator</a></li>
        <li><a href="https://github.com/Rohit3230/angularIMPThingsForWebApp" target="_">Git Hub</a></li>

      </ul>
    </nav> 

    <div class="header-social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a> 
    </div>

  </div>
</header> 

 