<p>todo-view works!</p>
<div class="col-lg-12">
    INPUT:&nbsp;<input type="text" class="form-control" #firstName="ngModel" name="firstName" [(ngModel)]="todoDetail.firstName" placeholder="Enter First Name" required />
    ID: {{todoDetail.id}}<br>
    Name: {{todoDetail.firstName+' '+todoDetail.middleName+' '+todoDetail.lastName}}<br>
    Phone: {{todoDetail.phone}}<br>
    Email: {{todoDetail.email}}<br>
    <button type="btn" class="btn" (click)="selectForClass(todoDetail, itemIndex)">Select</button>
</div>
