<main id="main" style="    margin-top: 47px;">
    &nbsp;
</main>

   
  <main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Login</h2>
          <p>Please login for browse more pages.</p>
        </div> 

        <div class="row mt-5 justify-content-center">
          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                
                <div class="col-md-12 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email/Mobile" data-rule="email" data-msg="Please enter a valid email or mobile number" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password" data-rule="minlen:6" data-msg="Please enter at least 6 chars" />
                  <div class="validate"></div>
                </div>
              </div>
              <!-- <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div> -->
              <!-- <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div> -->
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Login</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>