<main id="main" style="    margin-top: 70px;">
    &nbsp;
</main>



<div class="container-fluid">
    <div class="container">
        <h2> 1. <a routerLink="/custom-pipes" href="/custom-pipes"> Custom Pipes Examples: </a></h2>
        <div class="col-sm-12 pipeExample">
             In this, you will learn about usage of custom pipes in your angular application with multiple typs of methods like.
             <br> &nbsp; Without parameters
             <br> &nbsp; Multiple parameters
             <br> &nbsp; optional parameters...!
        </div> 
    </div>
</div> 

 