
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #3498db;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.btn-default {
  color: white;
  background: gray;
}

.label{
  padding-top: 20px;
  font-size: 15px;
  font-weight: 900;
}
.pageTitle{
  font-size: 30px;
  font-weight: bolder;
}
 